In [1]:
import pandas as pd 
import numpy as np 
import ast

In [2]:
data=pd.read_csv(r'movie_data.csv')

In [3]:
data.head()

,genres,keywords,overview,title,cast,crew
0,"['action', 'adventure', 'fantasy', 'sciencefic...","['cultureclash', 'future', 'spacewar', 'spacec...","In the 22nd century, a paraplegic Marine is di...",Avatar,"['samworthington', 'zoesaldana', 'sigourneywea...",['jamescameron']
1,"['adventure', 'fantasy', 'action']","['ocean', 'drugabuse', 'exoticisland', 'eastin...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"['johnnydepp', 'orlandobloom', 'keiraknightley']",['goreverbinski']
2,"['action', 'adventure', 'crime']","['spy', 'basedonnovel', 'secretagent', 'sequel...",A cryptic message from Bond’s past sends him o...,Spectre,"['danielcraig', 'christophwaltz', 'léaseydoux']",['sammendes']
3,"['action', 'crime', 'drama', 'thriller']","['dccomics', 'crimefighter', 'terrorist', 'sec...",Following the death of District Attorney Harve...,The Dark Knight Rises,"['christianbale', 'michaelcaine', 'garyoldman']",['christophernolan']
4,"['action', 'adventure', 'sciencefiction']","['basedonnovel', 'mars', 'medallion', 'spacetr...","John Carter is a war-weary, former military ca...",John Carter,"['taylorkitsch', 'lynncollins', 'samanthamorton']",['andrewstanton']

In [4]:
data.columns

Index(['genres', 'keywords', 'overview', 'title', 'cast', 'crew'], dtype='object')

In [5]:
def clean_text(text):
    keywords = []
    for i in ast.literal_eval(text):
        keywords.append(i)
    return keywords

In [6]:
data['genres'].apply(ast.literal_eval)

0       [action, adventure, fantasy, sciencefiction]
1                       [adventure, fantasy, action]
2                         [action, adventure, crime]
3                   [action, crime, drama, thriller]
4                [action, adventure, sciencefiction]
                            ...
4804                       [action, crime, thriller]
4805                               [comedy, romance]
4806               [comedy, drama, romance, tvmovie]
4807                                              []
4808                                   [documentary]
Name: genres, Length: 4809, dtype: object

In [7]:
data[['genres','keywords','cast','crew']] = data[['genres','keywords','cast','crew']].map(ast.literal_eval)

In [8]:
data.head()

,genres,keywords,overview,title,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bond’s past sends him o...,Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

In [9]:
data['overview']=data.overview.str.split()

In [10]:
data

,genres,keywords,overview,title,cast,crew
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]
...,...,...,...,...,...,...
4804,"[action, crime, thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[El, Mariachi, just, wants, to, play, his, gui...",El Mariachi,"[carlosgallardo, jaimedehoyos, petermarquardt]",[robertrodriguez]
4805,"[comedy, romance]",[],"[A, newlywed, couple's, honeymoon, is, upended...",Newlyweds,"[edwardburns, kerrybishé, marshadietlein]",[edwardburns]
4806,"[comedy, drama, romance, tvmovie]","[date, loveatfirstsight, narration, investigat...","[""Signed,, Sealed,, Delivered"", introduces, a,...","Signed, Sealed, Delivered","[ericmabius, kristinbooth, crystallowe]",[scottsmith]
4807,[],[],"[When, ambitious, New, York, attorney, Sam, is...",Shanghai Calling,"[danielhenney, elizacoupe, billpaxton]",[danielhsia]
4808,[documentary],"[obsession, camcorder, crush, dreamgirl]","[Ever, since, the, second, grade, when, he, fi...",My Date with Drew,"[drewbarrymore, brianherzlinger, coreyfeldman]","[brianherzlinger, jongunn, brettwinn]"

In [11]:
data['tags']=data['genres']+data['keywords']+data['cast']+data['crew']+data['overview']

In [12]:
data

,genres,keywords,overview,title,cast,crew,tags
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron],"[action, adventure, fantasy, sciencefiction, c..."
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski],"[adventure, fantasy, action, ocean, drugabuse,..."
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[danielcraig, christophwaltz, léaseydoux]",[sammendes],"[action, adventure, crime, spy, basedonnovel, ..."
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",[christophernolan],"[action, crime, drama, thriller, dccomics, cri..."
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton],"[action, adventure, sciencefiction, basedonnov..."
...,...,...,...,...,...,...,...
4804,"[action, crime, thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[El, Mariachi, just, wants, to, play, his, gui...",El Mariachi,"[carlosgallardo, jaimedehoyos, petermarquardt]",[robertrodriguez],"[action, crime, thriller, unitedstates–mexicob..."
4805,"[comedy, romance]",[],"[A, newlywed, couple's, honeymoon, is, upended...",Newlyweds,"[edwardburns, kerrybishé, marshadietlein]",[edwardburns],"[comedy, romance, edwardburns, kerrybishé, mar..."
4806,"[comedy, drama, romance, tvmovie]","[date, loveatfirstsight, narration, investigat...","[""Signed,, Sealed,, Delivered"", introduces, a,...","Signed, Sealed, Delivered","[ericmabius, kristinbooth, crystallowe]",[scottsmith],"[comedy, drama, romance, tvmovie, date, loveat..."
4807,[],[],"[When, ambitious, New, York, attorney, Sam, is...",Shanghai Calling,"[danielhenney, elizacoupe, billpaxton]",[danielhsia],"[danielhenney, elizacoupe, billpaxton, danielh..."
4808,[documentary],"[obsession, camcorder, crush, dreamgirl]","[Ever, since, the, second, grade, when, he, fi...",My Date with Drew,"[drewbarrymore, brianherzlinger, coreyfeldman]","[brianherzlinger, jongunn, brettwinn]","[documentary, obsession, camcorder, crush, dre..."

In [13]:
new_data=data[['title','tags']]

In [14]:
new_data

,title,tags
0,Avatar,"[action, adventure, fantasy, sciencefiction, c..."
1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action, ocean, drugabuse,..."
2,Spectre,"[action, adventure, crime, spy, basedonnovel, ..."
3,The Dark Knight Rises,"[action, crime, drama, thriller, dccomics, cri..."
4,John Carter,"[action, adventure, sciencefiction, basedonnov..."
...,...,...
4804,El Mariachi,"[action, crime, thriller, unitedstates–mexicob..."
4805,Newlyweds,"[comedy, romance, edwardburns, kerrybishé, mar..."
4806,"Signed, Sealed, Delivered","[comedy, drama, romance, tvmovie, date, loveat..."
4807,Shanghai Calling,"[danielhenney, elizacoupe, billpaxton, danielh..."
4808,My Date with Drew,"[documentary, obsession, camcorder, crush, dre..."

In [15]:
new_data.to_csv('newmovie.csv',index=False)

In [16]:
new_datas=pd.read_csv('newmovie.csv')

In [17]:
new_datas

,title,tags
0,Avatar,"['action', 'adventure', 'fantasy', 'sciencefic..."
1,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action', 'ocean', 'd..."
2,Spectre,"['action', 'adventure', 'crime', 'spy', 'based..."
3,The Dark Knight Rises,"['action', 'crime', 'drama', 'thriller', 'dcco..."
4,John Carter,"['action', 'adventure', 'sciencefiction', 'bas..."
...,...,...
4804,El Mariachi,"['action', 'crime', 'thriller', 'unitedstates–..."
4805,Newlyweds,"['comedy', 'romance', 'edwardburns', 'kerrybis..."
4806,"Signed, Sealed, Delivered","['comedy', 'drama', 'romance', 'tvmovie', 'dat..."
4807,Shanghai Calling,"['danielhenney', 'elizacoupe', 'billpaxton', '..."
4808,My Date with Drew,"['documentary', 'obsession', 'camcorder', 'cru..."

In [23]:
data2=pd.read_csv('new_data.csv')

In [24]:
data2

,Unnamed: 0,title,tags
0,0,Avatar,"['action', 'adventure', 'fantasy', 'sciencefic..."
1,1,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action', 'ocean', 'd..."
2,2,Spectre,"['action', 'adventure', 'crime', 'spy', 'based..."
3,3,The Dark Knight Rises,"['action', 'crime', 'drama', 'thriller', 'dc c..."
4,4,John Carter,"['action', 'adventure', 'sciencefiction', 'bas..."
...,...,...,...
4801,4801,El Mariachi,"['action', 'crime', 'thriller', 'united states..."
4802,4802,Newlyweds,"['comedy', 'romance', 'A', 'newlywed', ""couple..."
4803,4803,"Signed, Sealed, Delivered","['comedy', 'drama', 'romance', 'tvmovie', 'dat..."
4804,4804,Shanghai Calling,"['When', 'ambitious', 'New', 'York', 'attorney..."
4805,4805,My Date with Drew,"['documentary', 'obsession', 'camcorder', 'cru..."

In [25]:
def clean_text(text):
    word=[]
    for i in ast.literal_eval(text):
        word.append(i)
    return word

In [26]:
data2['tags']=data2['tags'].apply(clean_text)

In [27]:
data2

,Unnamed: 0,title,tags
0,0,Avatar,"[action, adventure, fantasy, sciencefiction, c..."
1,1,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action, ocean, drug abuse..."
2,2,Spectre,"[action, adventure, crime, spy, based on novel..."
3,3,The Dark Knight Rises,"[action, crime, drama, thriller, dc comics, cr..."
4,4,John Carter,"[action, adventure, sciencefiction, based on n..."
...,...,...,...
4801,4801,El Mariachi,"[action, crime, thriller, united states–mexico..."
4802,4802,Newlyweds,"[comedy, romance, A, newlywed, couple's, honey..."
4803,4803,"Signed, Sealed, Delivered","[comedy, drama, romance, tvmovie, date, love a..."
4804,4804,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4805,4805,My Date with Drew,"[documentary, obsession, camcorder, crush, dre..."

In [28]:
import nltk

In [29]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\EgrYt\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [30]:
from nltk.corpus import stopwords

In [31]:
stop_words=set(stopwords.words('english'))

In [32]:
data2.tags=data2.tags.apply(lambda x:[word for word in x if word not in stop_words])

In [33]:
data2.tags=data2.tags.apply(lambda x:' ' .join(x))

In [43]:
data2.drop('Unnamed: 0',axis=1,inplace=True)

In [44]:
data2

,title,tags
0,Avatar,action adventure fantasy sciencefiction cultur...
1,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drug abuse exot...
2,Spectre,action adventure crime spy based on novel secr...
3,The Dark Knight Rises,action crime drama thriller dc comics crime fi...
4,John Carter,action adventure sciencefiction based on novel...
...,...,...
4801,El Mariachi,action crime thriller united states–mexico bar...
4802,Newlyweds,comedy romance A newlywed couple's honeymoon u...
4803,"Signed, Sealed, Delivered",comedy drama romance tvmovie date love at firs...
4804,Shanghai Calling,When ambitious New York attorney Sam sent Shan...
4805,My Date with Drew,documentary obsession camcorder crush dream gi...

In [35]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
cv=CountVectorizer(max_features=5000)

In [37]:
vector=cv.fit_transform(data2['tags']).toarray()

In [38]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

cosine similarity

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similarity=cosine_similarity(vector)

In [41]:
similarity

array([[1.        , 0.06757374, 0.03310424, ..., 0.03246137, 0.01805984,
        0.        ],
       [0.06757374, 1.        , 0.06123724, ..., 0.04003204, 0.        ,
        0.01928792],
       [0.03310424, 0.06123724, 1.        , ..., 0.01961161, 0.        ,
        0.        ],
       ...,
       [0.03246137, 0.04003204, 0.01961161, ..., 1.        , 0.06419407,
        0.0555937 ],
       [0.01805984, 0.        , 0.        , ..., 0.06419407, 1.        ,
        0.06185896],
       [0.        , 0.01928792, 0.        , ..., 0.0555937 , 0.06185896,
        1.        ]])

In [45]:
def recommend_movie(movie):
    index=data2[data2['title']==movie].index[0]
    distances=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])
    for i in distances[1:6]:
        print(data2.iloc[i[0]].title)

In [49]:
recommend_movie('The Dark Knight Rises')

The Dark Knight
Batman
Batman Begins
Batman
Batman Returns

task
book data set 
books- i want to read this book 
recommendation